body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  height: 100vh;
  display: flex; /* Flexbox added */
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  overflow: auto; /* To allow scrolling if the content exceeds viewport height */
}

